<a href="https://colab.research.google.com/github/keertanaganiga/Lockdown_coding/blob/master/ADP_9_aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''1/1^6 +1/2^6 +1/3^6+....1/n^6
'''
n=int(input())
sum=0.0
for i in range(1,n+1):
  K=1/(i**6)
  sum=sum+K
print('Sum of series =',sum)

5
Sum of series = 1.0173048827374829

In [ ]:
print ("Enter start year")
startYear = int(input())
print ("Enter last year")
endYear = int(input())
 
print ("List of leap years:")

for year in range(startYear, endYear+1):
  if (0 == year % 4) and (0 != year % 100) or (0 == year % 400):
    print (year)

Enter start year
1900
Enter last year
2000
List of leap years:
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000

In [ ]:
year =int(input())

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2000
2000 is a leap year